<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eat Da Burger</title>
  <!-- STYLE: using Bulma CSS Framework in conjunction with google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Crete+Round" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.0/css/bulma.min.css">
  <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
</head>

<body>
  <img src="/assets/img/burger.png" alt="yummy burger!">
  {{{ body }}}

  <!-- jQuery link -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <!-- handlebars script tag is below -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
  <!-- link to js file -->
  <script src="/assets/js/burgers.js"></script>
</body>

</html>